<h2>New salesforce org</h2>

<%= render "form.html", changeset: @changeset,
                        action: salesforce_org_path(@conn, :create) %>

<%= link "Back", to: salesforce_org_path(@conn, :index) %>
