<div class="row">
  <div class="col-lg-12">
    <h4>Resources</h4>
    <ul>
      <li>
        <%= link "Salesforce Orgs", to: salesforce_org_path(@conn, :index), class: "btn btn-default" %>
      </li>
      <li>
        <%= link "Orphaned Emails", to: mail_path(@conn, :orphans), class: "btn btn-default" %>
      </li>
    </ul>
  </div>
</div>
